{
  "extends": "airbnb-base/legacy",

  "env": {
    "browser": true,
    "es6": false
  },

  "globals": {
    "angular": true,
    "UUIDjs": true
  },

  "rules": {
    "quotes": [2, "double", "avoid-escape"],
    "indent": [2, 4],
    "func-names": 0,
    "no-console": 0,
    "no-use-before-define": [2, "nofunc"],
    "no-underscore-dangle": 0,
    "no-plusplus": 0,
    "no-prototype-builtins": 0,
    "prefer-arrow-callback": 0,
    "prefer-rest-params": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0
  }
}
