<ion-view title="Geofence details">
  <ion-header-bar class="bar-positive" align-title="left">
    <div class="buttons pull-left">
      <button class="button button-icon" ui-sref="geofences">
        <i class="ion-chevron-left"></i>
      </button>
    </div>
    <h1 class="title">Geofence Details</h1>
    <div class="buttons pull-right">
      <button class="button button-icon icon ion-checkmark" ng-click="save()"></button>
    </div>
  </ion-header-bar>
  <ion-content scroll="false">
    <label class="item item-input">
      <input type="text" placeholder="Enter notification text" ng-model="geofence.notification.text" hide-keyboard-on-enter>
    </label>
    <div class="button-bar">
      <a class="button" ng-class="isTransitionOfType(TransitionType.ENTER) ? 'button-positive' : 'button-light'" ng-click="toggleWhenIgetCloser()">When I get close</a>
      <a class="button" ng-class="isTransitionOfType(TransitionType.EXIT) ? 'button-positive' : 'button-light'" ng-click="toggleWhenIamLeaving()">When I go away</a>
    </div>
    <div class="range" data-tap-disabled="true">
      on
      <input type="range" name="volume" min="50" max="5000" ng-model="paths.circle.radius">
      {{ paths.circle.radius }}m
    </div>
    <div style="width: 100%; position: absolute; top: 140px; bottom: 0px;" data-tap-disabled="true">
      <leaflet resizeable markers="markers" paths="paths" center="center" width="100%" height="100%" event-broadcast="events"></leaflet>
    </div>
  </ion-content>
</ion-view>
